body {
  border: 1;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-family: sans-serif, helvetica, arial;
  font: sans-serif, helvetica, arial;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/*
@media screen and (max-device-width: 320px){
	// make sure mobile browsers do not mess around with font scaling
	body{
//		-webkit-text-size-adjust: 100%;
//		-moz-text-size-adjust: 100%;
//		-ms-text-size-adjust: 100%;
	}
}
*/
.hidden {
  display: none; }

.tc1 {
  color: #1faba8; }

.tc2 {
  color: #136765; }

.tw1 {
  width: 240px; }

.tw2 {
  width: 650px; }

.tc {
  text-align: center; }

.tc1a {
  color: #136765;
  font-weight: bold;
  text-decoration: none; }

.smallprint {
  font-family: "Muli", sans-serif;
  font-size: 0.8em; }

.fsh1 {
  font-family: "Muli", sans-serif;
  font-size: 1.9em;
  font-weight: bold; }

.fsh2 {
  font-family: "Muli", sans-serif;
  font-size: 1.6em;
  font-weight: bold; }

.fsh3 {
  font-family: "Muli", sans-serif;
  font-size: 1.3em;
  font-weight: bold; }

.fsh4 {
  font-family: "Muli", sans-serif;
  font-size: 1.2em;
  font-weight: bold; }

.fsh5 {
  font-family: "Muli", sans-serif;
  font-size: 1.0em;
  font-weight: bold; }

.sectionheader1 {
  color: #1faba8;
  font-family: "Muli", sans-serif;
  font-weight: bold; }

.sectionheader2 {
  color: #136765;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  text-decoration: none; }

.sectionheader2:hover {
  color: #1faba8;
  font-family: "Muli", sans-serif; }

.sectionheader2a {
  color: #136765;
  font-family: "Muli", sans-serif;
  font-weight: bold; }

.email1 {
  font-weight: bold;
  text-decoration: none; }

.email1:hover {
  color: #1faba8; }
  
.greenFont {
  color: #1c9a97; }

.greenFontBig {
  color: #1c9a97;
  font-size: 1.9em;
  font-weight: bold; }  

.yellowFontBig {
  color: #eef442;
  font-size: 2.2em;
  font-weight: bold; }

.redFontBig {
  color: red;
  font-size: 2.2em;
  font-weight: bold; }
  
.button1 {
  color: white;
  background-color: #1c9a97;
  font-size: 0.95em;
  border-radius: 4px;
  text-decoration: none;
  border: 0px solid #1c9a97; 
  cursor: pointer; }

.button1:hover {
  color: #333333;
  background-color: #d2eeee;
  border: 0px solid #d2eeee;
  }

.hovbutton1 {
  font-size: 0.95em;
  color: #333333;
  background-color: #d2eeee;
  border-radius: 4px;
  text-decoration: none;
  border: 2px solid #d2eeee;
  cursor: help; }

.hovbutton1:hover {
  color: white;
  background-color: #1c9a97;
  border: 2px solid #1c9a97; }

  .button2 {
    color: white;
    background-color: rgb(118, 15, 15);
    font-size: 1em;
    border-radius: 4px;
    text-decoration: none;
    border: 0px solid #1c9a97; 
    cursor: pointer; }
  
  .button2:hover {
    color: #333333;
    background-color: #d2eeee;
    border: 0px solid #d2eeee;
    }

.editfield1 {
  background-color: #eeeeee;
  margin: 0px;
  border: 1px solid #eeeeee;
  padding-left: 5px;
  width: 500px;
  font-size: 1em; }

.editfield1:hover {
  background-color: #d2eeee;
  border: 1px solid #d2eeee; }

 
.centre {
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.divider {
  background: #4cbcb9;
  margin: 10px;  
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  height: 1px;
  position: relative; }

.rtab .ltab {
  width: 100%;
  border-collapse: collapse;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px; }

.rtab td {
  text-align: right; }

.ltab td {
  text-align: left; }

.lalign {
  text-align: left; }

.ralign {
  text-align: right; }
  
.centertab {
  width: 100%;
  border-collapse: collapse;
  border: 0px;
  padding: 0px;
  margin: 0px;
  border-spacing: 0px; }

.centertab td {
  text-align: center; }
  
.arrow-right {
  width: 0;
  height: 0;
  border-left: 1.5em solid #1c9a97;
  border-top: 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
  border-radius: 0.0em;
  cursor: pointer; }
 
.arrow-right:hover {
  border-left: 1.5em solid #d2eeee; }

.arrow-left {
  width: 0;
  height: 0;
  border-right: 1.5em solid #1c9a97;
  border-top: 0.6em solid transparent;
  border-bottom: 0.6em solid transparent;
  border-radius: 0.0em;
  cursor: pointer; }

.arrow-left:hover {
  border-right: 1.5em solid #d2eeee; }

  
.arrow-up2 {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 40px solid #1c9a97;
}
.arrow-up2:hover {
  border-bottom: 40px solid #d2eeee;
}

.arrow-down2 {
  width: 0; 
  height: 0; 
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 40px solid #1c9a97;
}
.arrow-down2:hover {
  border-top: 40px solid #d2eeee;
}

.arrow-right2 {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #1c9a97;
}
.arrow-right2:hover {
  border-left: 40px solid #d2eeee;
}

.arrow-left2 {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  border-right: 40px solid #1c9a97; 
}  
.arrow-left2:hover {
  border-right: 40px solid #d2eeee;
}
  
.tile img {
	width:32px;
	height:32px;
	border:none;
	margin: 1px 1px;
}
.tile img:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
.tilestatic {
	border:none;
	padding:0;
	margin: 0px 0px;
}
.tilestatic img {
	width:32px;
	height:32px;
	border:none;
	padding:0;
	margin: 0px 0px;
}
 
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 80px;
    background-color: #888;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.9;
}

.buttonBlocker {
	visibility:hidden;
	background-color:white;
	opacity:0.8;
	width:430px;
	height:440px;
	border:0;
	margin:0;
	padding:0;
	position:absolute;
	z-index: 1;
}

.keyInfoText {
	width:400px;
	height:30px;
	position:absolute;
	left:10px;
	top:400px;
	text-align:left;
	font-size: 0.8em;
}

.musicButton {
	position:absolute;
	left:330px;
	top:410px;
}

.backgroundBlack {
	  background-color: black
}

@keyframes blink { 
   0% { border-color: #eef442; }
   100% { border-color: #252610; }

}
.blinking{ /*or other element you want*/
    animation: blink .5s infinite alternate;
	border: 2px solid transparent;
	outline: 0;
}



